In [1]:
import sys
import threading
from threading import Thread, Lock
import time 
import random
import pipe_instance
import data_sample
import utils

Operações:

 Operação skew_type  magnitude  prob
     Skew    RANDOM        0.9     1

 Operação  prob
   Invert     1

 Operação  min_factor  max_factor  prob
   Brilho         0.1          10     1

 Operação  min_factor  max_factor  prob
    Color         -20          20     1

  Operação  min_factor  max_factor  prob
  Contrast          -5           5     1

 Operação top_bottom_left_right  prob
     Flip                RANDOM     1

 Operação  max_shear_left  max_shear_right  prob
    Shear              30               30     1

 Operação  grid_width  grid_height  magnitude  prob
  Distort           4            4          8     1

 Operação  min_factor  max_factor  prob
     Zoom           1           9     1

     Operação  percentage_area  randomise  prob
  Zoom_Random              0.5       True     1

        Operação  prob  rectangle_area  repetitions
  Random_Erasing     1             0.3            3

 Operação  prob  horizontal_max  vertical_max  randomise     fill
    Shift     1             0.8           0.8       True  nearest

In [2]:
class augmentor(threading.Thread):
    def __init__ (self, augmentor_id:int, dados:list, times:int, pipe):
        self.meu_id = augmentor_id

        self.dados = dados
        threading.Thread.__init__ (self)# Atenção essa instrução deve ser chamada para iniciar a thread

        self.times = times

        self.pipe = pipe

        self.result = []

    def run (self):
        
        for i in range(len(self.dados)):
            self.result = self.result + self.dados[i] + self.pipe.operar(self.dados[i][0], self.dados[i][1], self.times)
        print(len(self.result))

        # for g in range(10):
        #     print(f"hi {self.meu_id}")
        #     print("inconstitucionalissimamente {}".format(self.meu_id))
        #     print(self.dados)

In [3]:
# def dividir_base(base, n):# n = numero de itens por thread
#     for i in range(0, len(base), n):
#         yield base[i:i + n]

In [4]:
# pickle_in = open("./data_10.pickle","rb")
# data = pickle.load(pickle_in)

In [5]:
threads = []
numero_de_augmentor = 2
data_array = list(utils.dividir_base(data_sample.data, 50))

for i in range (numero_de_augmentor):
    novo_augmentor = augmentor (i, data_array[i], 3, pipe_instance.pipe)
    threads.append (novo_augmentor)
    novo_augmentor.start()
for t in threads:
    t.join ()
# print('\n\n')

150
150

In [6]:
# listasDivididas = list(dividir_base(base_de_dados, 4))

# for i in range(len(listasDivididas)):
#     print(listasDivididas[i])

In [7]:
utils.call_thread(50, data_sample.data, pipe_instance.pipe)

100 50 2
150
150